<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="inscription.component.scss">
  </head>
        <body>
            <div class="wrapper">
                <div class="title">Inscription</div>
                <form >
                    <div class="field" id="divNom">
                        <input type="text" placeholder="Nom" >
                    </div>

                    <div class="field" id="divEmail">
                        <input type="text" placeholder="Email">
                    </div>

                    <div class="field" id="divPays">
                        <select id="boutonSelection" placeholder="pays">
                                <option id="cmr">Cameroun</option>
                                <option id="ngr">Nigeria</option>
                                <option id="gh">Ghana</option>
                                <option id="other">Burkina</option>
                        </select>

                    </div>

                    <div class="field" id="divNumero">
                        <input type="text" placeholder="Numéro" >
                    </div>

                    <div class="field" i>
                        <input type="password" placeholder="Mot de passe">
                    </div>

                    <div class="field">
                        <input type="password" placeholder="Confirmer mot de passe">
                    </div>

                    <div class="field" id="basDuBouton">
                        <input type="submit" value="S'inscrire">
                    </div>

                </form>
            </div>
	</body>
</html>
