<div class="homeComp">

  <h1 class="titre">
      Bienvenue sur la page d'envoi de SMS, Web SMS
  </h1>

  <div class='texte'>
      <p id="texte">Web SMS est une plateforme permetant d’envoyer
          des SMS en masse sur tous les réseaux exercant
          sur le teritoire camerounais. </p>
          <p id="texte"> Vous pouvez créer des groupes de discussions
           ou alors envoyer des messages individuels
          Il sera aussi possible de consulter
          les performances de transmission et le
          solde de crédit restant lorsque ceci
          est souhaité.</p>
  </div>
</div>
